.toggle {
  border: 0px;
  border-radius: 5px;
  background: none;
  padding: 10px;
}

.raddiu-card:selected, flowboxchild:selected {
  background-color: @fg_color;
  color: @bg_color;
}
.raddiu-card:selected * {
  color: @bg_color;
}
.raddiu-card {
  background: lighter(@bg_color);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
  border-radius: 4px;
  border: 1px solid darker(@bg_color);
}
